*{
    margin: 0;
    padding: 0;
    font-family: 'Arizonia', cursive;
    font-family: 'Poppins', sans-serif;
}

hr{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

#hr-review{
    margin-top: 50px;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/teddy.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 70px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    align-items: center;
}

nav img{
    width: 120px;
    margin-top: 0;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    word-spacing: 30px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #d4af37;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 40px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #d4af37;
    background: #d4af37;
    transition: 1s;
}

nav .fa{
    display: none;
}

/* SERVICES */

.services{
    background: transparent;
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 2em;
    color: black;
    border-radius: 10px;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/try9.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 70px;
}

#service-btn{
    display: inline-block;
    text-decoration: none;
    color: #d4af37;
    background: transparent;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

#service-btn-bottom{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #d4af37;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#service-btn-bottom:hover{
    border: 1px solid #d4af37;
    background: #fff;
    color: black;
    transition: 0.5s;
}

#service-btn:hover{
    border: 1px solid #d4af37;
    background: #fff;
    color: black;
    transition: 0.5s;
}

#service-content-btn{
    display: inline-block;
    text-decoration: none;
    color: #d4af37;
    background: transparent;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    background-color: navy;
    margin-bottom: 20px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

.services h1{
    color: #d4af37;
}

.services p{
    color: white;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.services-col{
    flex-basis: 31%;
    background: transparent;
    color: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 2px solid white;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #d4af37;
}

.services-col:hover{
    border: 2px solid #d4af37;
    transition: 0.5s;
}

/* team-values */

.team-values{
    width: 100%;
    margin: auto;
    margin-bottom: -30px;
    text-align: center;
    padding-top: 70px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/try19.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.team-values h1{
    color: #d4af37;
    font-size: 36px;
    border-radius: 10px;
}

.team-values p{
    color: white;
}

.team-values p i{
    font-size: 12px;
}

.team-values-col{
    flex-basis: 45%;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-right: 60px;
    margin-left: 60px;
}

.team-values-col img{
    width: 100%;
    border-radius: 10px;
}

.team-values-col p{
    padding: 0;
    color: white;
}

.team-values-col h3{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #d4af37;
}

/* locations */

.locations{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    margin-top: 100px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/tank1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.locations h1{
    color: #d4af37;
    padding: 5px;
    border-radius: 10px;
}

.locations p{
    color: white;
}

.locations-col{
    flex-basis: 45%;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    width: 100%;
    margin-right: 60px;
    margin-left: 60px;
}

.locations-col img{
    width: 100%;
    border-radius: 10px;
}

.locations-col p{
    padding: 0;
    color: white;
}

.locations-col h3{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #d4af37;
}

/* reviews */

.reviews{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.reviews a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    background-color: #d4af37;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.reviews h1{
    color: #d4af37;
}

.reviews-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #d4af37;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.reviews-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.review-name{
    color: black;
}

.reviews-col p{
    padding: 0;
}

.reviews-col h3{
    margin-top: 15px;
    text-align: left;
}

/* contact us */

.contact{
    margin: 100px auto;
    width: 90%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(imgs/gracehorseray.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.contact h1{
    color: #d4af37;
    margin-bottom: 40px;
    padding: 0;
}

/* footer */

.footer-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 0;
}

.footer-container-link{ 
    list-style: none;
    text-decoration: none;
    color: #d4af37;
    font-size: 120%;
    margin-top: 5px;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    color: #d4af37;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

#footer-img{
    width: 150px;
}

.icons .fa{
    color: #d4af37;
    cursor: pointer;
    padding: 10px 0;
    width: 80px;
    border: 1px solid #d4af37;
    border-radius: 10px;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* about us page */

#about-us-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/try24.jpg);
}

.about-us{
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
}

.about-us-values{
    display: flex;
    flex-direction: column;
    font-size: 150%;
    word-spacing: 40px;
    color: #d4af37;
}

.about-us-values-mission{
    font-size: 115%;
    padding-top: 25px;
    width: 30%;
    margin: 0 auto;
}

.about-col{
    flex-basis: 48%;
}

.about-col img{
    width: 100%;
    padding-top: 75px;
}

.about-col h1{
    padding-top: 0%;
    color: #d4af37;
}

.about-col p{
    padding: 15px 0 25px;
}

.other-btn{
    border: 1px solid #d4af37;
    background: transparent;
    color: #d4af37;
}

.other-btn:hover{
    color: white;
}

/* services content */

#services-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/servicehead.jpg);
}

.services-content{
    width: 90%;
    margin: auto;
    padding: 0;
}

.services-left{
    flex-basis: 65%;
}

.services-left img{
    width: 100%;
    border-radius: 20px;
}

.services-left h2{
    color: #d4af37;   
    font-weight: 600;
    margin: 30px 0;
}

.services-left p{
    padding: 10px;
    width: 100%;
}

.services-left h2{
    font-size: 38px;
    margin: 0 auto;
}

.services-right{
    flex-basis: 32%;
}

.services-content-btn{
    padding-top: 50px;
}

.services-right h3{
    background: navy;
    color: #d4af37;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.services-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}


/* contact us page */

#contact-main-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/try20.jpg);
}

#values-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/contactbanner.jpg);
}

.map-location{
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
    /* border: 2px solid red; */
}

.map-location h3 i{
    font-size: 14px;
    color: black;
}

.map-location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 24px;
    color: #d4af37;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #d4af37;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* team */


.family{
    width: 95%;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
}

#family-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/try21.jpg);
}

#angela-col{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/grasssnooz.jpg);
    border-radius: 20px;
}

#gracie-col{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/grasssnooz.jpg);
    border-radius: 20px;
}

#ellie-col{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/grasssnooz.jpg);
    border-radius: 20px;
}


.family-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.family-col img{
    width: 90%;
}

.family-col h1{
    padding-top: 5%;
    color: #d4af37;
}

.family-col p{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}


@media(max-width: 700px){
    .family{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .family-col img{
        width: 100%;
    }
    .family-col p{
        padding-left: 5px;
        padding-right: 5px;
    }
    .contact-col div h5{
        font-size: 16px;
    }
    .contact-col button{
        background-color: navy;
    }
    .about-us h1{
        font-size: 28px;
    }
    .about-us img{
        display: none;
    }
    .about-us-values{
        width: 100%;
        word-spacing: 40px;
    }
    .about-us-values-mission{
        width: 90%;
        font-size: 100%;
    }
    .footer-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        padding: 15px 0;
    }
    html, body {overflow-x: hidden;}
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #d4af37;
        height: 65vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        border-radius: 20px;
        transition: 1s;
        margin-top: 35px;
        display: none;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        text-align: right;
        padding: 5px 10px;
    }
    .nav-links ul{
        text-align: end;
        padding: 10px;
    }
    .text-box{
        margin-top: 30px;
    }
    .header img{
        margin-left: -15px;
        width: 50%;
    }
    .services{
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imgs/try17.jpg);
    }
    .contact h1{
        font-size: 24px;
    }
    .row{
        flex-direction: column;
    }
    .services-col{
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .services{
        padding-bottom: 5px;
        border-radius: 0;
        width: 100%;
    }
    .services h1{
        font-size: 20px;
    }
    .reviews{
        width: 90%;
        padding-top: 40px;
    }
    .reviews-col{
        flex-direction: column;
    }
    .reviews-col img{
        padding-bottom: 15px;
        margin: 0 auto;
    }
    .locations{
        padding-top: 40px;
        margin-bottom: 20px;
        border-radius: 0%;
    }
    .locations h1{
        font-size: 20px;
    }
    .locations-col{
        margin-right: 0px;
        margin-left: 0px;
    }
    .locations p{
        width: 95%;
        margin: 0 auto;
    }
    .team-values{
        padding-top: 40px;
        border-radius: 0;
    }
    .team-values h1{
        font-size: 20px;
    }
    .team-values a img{
        padding-top: 30px;
    }
    .team-values-col{
        margin-right: 0px;
        margin-left: 0px;
    }
}